.footer {
  min-height: 8rem;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-size: var(--text-normal);
  display: flex;
  align-items: center;
  justify-content: center;
}