:root {
  /* Fonts */
  --text-biggest: 4.8rem;
  --text-bigger: 3.6rem;
  --text-big: 2.4rem;
  --text-normal: 1.8rem;
  --text-small: 1.4rem;
  /* Colors */
  --color-primary: #1F2937;
  --color-secondary: #E5E7EB;
  --color-text-primary: #F9FAF8;
  --color-text-secondary: #E5E7EB;
  --color-active: #3882F6;

  /* Other */
  --border-radius: 1rem;
}